@model Arihant.Models.Client.ClientSubmissionViewModel
@{
    bool isEdit = Model != null && Model.ClientID > 0;
    ViewData["Title"] = isEdit ? "Edit Client" : "Add Client";
}

<head>
    <link href="~/css/datatables.css" rel="stylesheet" />
    <link href="~/css/allmin.css" rel="stylesheet" />
    <link href="~/css/toggle.min.css" rel="stylesheet" />

    <link href="~/css/sumoselect.css" rel="stylesheet" />

</head>

<style>


    input[type="radio"] {
        width: auto !important;
        height: auto !important;
        margin-right: 5px;
        vertical-align: middle;
        cursor: pointer;
    }


        input[type="radio"] + label {
            margin-right: 15px;
            font-weight: normal;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
        }

    .radio-group {
        padding: 8px 0;
        display: block;
    }

    @@media (max-width: 768px) {
        .col-lg-4, .col-lg-6, .col-lg-12 {
            width: 100% !important;
            float: none !important;
            padding: 5px 5px !important;
        }

        .modal-content {
            width: 95% !important;
        }

        .btn-save {
            width: 100% !important;
        }
    }
</style>
<body class="bg">
    <div class="wrapper paddingLR10">
        <div class="col-lg-textcenter padding10 Heading FontColor1 AllCaps">
            <input type="hidden" id="ClientID" value="@(Model?.ClientID ?? 0)" />
        </div>

        <form>
            @Html.Partial("_ClientDetails")
            @Html.Partial("_ContactCommunication")

            <div class="col-lg-12 floatleft BgColor1 Border1 BorderColor1 padding20 BorderRounded10 Shadow marginB20" style="margin:10px;">
                <div class="NormalTextBig FontColor1"><strong>Address Details</strong></div>
                <button type="button" id="Add" class="btn-action btn-add" onclick="ShowAdd()">+ Add Address </button>
                <hr />
                <div id="MAinAddDive" style="display:none">
                   
                    <div class="clear"></div>

                    @Html.Partial("_AddressDetails", "MainAddr")
                    <div class="col-lg-4 floatleft padding10">
                    </div>
                    <div class="col-lg-4 floatleft padding10">
                    </div>
                    <div class="col-lg-2 floatleft padding10">
                    </div>
                    <div class="col-lg-2 floatleft padding10">
                        <button type="button" id="AddMainADd" style="display:none" class="btn-action btn-add" onclick="AddAddressToGrid()">+ Add Address to List</button>
                    </div>

                </div>


                <div class="grid-container">
                    <table style="display:none" class="custom-grid" id="tblAddress">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Address 1</th>
                                <th>Address 2</th>
                                <th>Landmark</th>
                                <th>Pincode</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Country</th>
                                <th>GST No.</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-12 floatleft BgColor1 Border1 BorderColor1 padding20 BorderRounded10 Shadow marginB20" style="margin:10px;">
                <div class="NormalTextBig FontColor1"><strong>Logistics & Commercial Details</strong></div>
                <hr />



                <div class="col-lg-4 floatleft padding10">
                    <label for="TransporterName">Transport Name <span style="color:red">*</span></label>
                    <input type="text" id="TransporterName" name="TransporterName" class="TextBox col-lg-12 BorderRounded5">
                </div>

                <div class="col-lg-4 floatleft padding10">
                    <label for="BookingType">Booking Type <span style="color:red">*</span></label>
                    <input type="text" id="BookingType" name="BookingType" class="TextBox col-lg-12 BorderRounded5">
                </div>

                <div class="col-lg-4 floatleft padding10">
                    <label for="FreightType">Freight Type <span style="color:red">*</span></label>
                    <input type="text" id="FreightType" name="FreightType" class="TextBox col-lg-12 BorderRounded5">
                </div>

                <div class="col-lg-4 floatleft padding10">
                    <label for="BookedTo">Booked To <span style="color:red">*</span></label>
                    <input type="text" id="BookedTo" name="BookedTo" class="TextBox col-lg-12 BorderRounded5">
                </div>

                <div class="col-lg-4 floatleft padding10">
                    <label for="PaymentTerms">Payment Terms <span style="color:red">*</span></label>
                    <input type="text" id="PaymentTerms" name="PaymentTerms" class="TextBox col-lg-12 BorderRounded5">
                </div>

                <div class="col-lg-4 floatleft padding10">
                    <label for="CreditPeriod">Credit Period (In Days) <span style="color:red">*</span></label>
                    <input type="number" id="CreditPeriod" name="CreditPeriod" class="TextBox col-lg-12 BorderRounded5">
                </div>
                <div class="col-lg-4 floatleft padding10">
                    <label>Export Type <span style="color:red">*</span></label><br />
                    <input type="radio" id="ExportTypeLocal" name="ExportType" value="Local">
                    <label for="ExportTypeLocal">Local</label>
                    <input type="radio" id="ExportTypeExport" name="ExportType" value="Export">
                    <label for="ExportTypeExport">Export</label>
                </div>

                <div class="col-lg-4 floatleft padding10">
                    <label for="IndicateViaMail">Indicate Via Mail <span style="color:red">*</span></label><br />
                    <input type="checkbox" id="IndicateViaMail" name="IndicateViaMail" value="true">
                </div>

                <div class="col-lg-4 floatleft padding10">
                    <label>Original Invoice Copy <span style="color:red">*</span></label><br />
                    <div class="marginT5">
                        <input type="radio" id="InvoiceHead" name="OriginalInvoiceCopy" value="HeadOffice">
                        <label for="InvoiceHead" class="marginR10">Head Office</label>

                        <input type="radio" id="InvoiceClient" name="OriginalInvoiceCopy" value="Client">
                        <label for="InvoiceClient">Client</label>
                    </div>
                </div>

                <div class="col-lg-4 floatleft padding10">
                    <label for="Owner">Owner <span style="color:red">*</span></label>
                    <select id="Owner" class="TextBox col-lg-12 BorderRounded5">
                        <option value="">-- Select Owner --</option>
                    </select>
                </div>
            </div>
            <div class="floatright padding20" style="margin-bottom: 50px; display: flex; gap: 10px;">

                <button type="button" class="Button ButtonColor3 BorderRounded5"
                        onclick="window.location.href='@Url.Action("AllClientMasterList", "Users_Master")'">
                    Back
                </button>

                <button type="button" id="btnSaveClient" class="Button ButtonColor1 BorderRounded5" onclick="SaveClient()">
                    <i class="fa @(isEdit ? "fa-refresh" : "fa-save")"></i>
                    @(isEdit ? "Update Client Profile" : "Save Client Profile")
                </button>

            </div>
        </form>
    </div>
    <div id="editModal" class="custom-modal">
        <div class="modal-content Shadow">
            <div class="section-header">
                <div class="NormalTextBig FontColor1"><strong id="modalHeading">Edit Details</strong></div>
                <button type="button" onclick="closeModal()" style="background:none; border:none; font-size:24px; cursor:pointer;">&times;</button>
            </div>
            <hr />
            <div id="modalInputs" class="clear"></div>
            <div class="clear"></div>
            <hr />
            <div class="text-right">
                <button type="button" class="btn-action" style="background:#6c757d; color:white;" onclick="closeModal()">Cancel</button>
                <button type="button" class="btn-action btn-add" id="btnSaveUpdate">Update Details</button>
            </div>
        </div>
    </div>
    <script src="~/js/jquery-3.7.1.js"></script>
    <script src="~/js/sumoselect.js"></script>
    <script src="~/js/datatables.js"></script>
    <script src="~/js/sweetalert2.js"></script>
    <script src="~/js/validation.js"></script>

    <script src="~/js/common/partial.js"></script>


    <script>
                 var countryList = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ViewBag.countrylist));
        var ownerlist = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ViewBag.ownerlist));

        $(document).ready(function() {
            InitializeStates();
            var ClientID = $('#ClientID').val();
            if (ClientID > 0) {
                var editData = @Html.Raw(Json.Serialize(Model));
                PopulateEditForm(editData);
            }

        });


         function DisplayBankDiv()
        {
                  $("#modalHeading").text("Add Bank Details");

  
        var bankContent = $('#BankDiv').html();
        $("#modalInputs").html(bankContent);

        $("#editModal").show();
        $("#btnSaveUpdate").hide();
        $("#btnModalAddBank").remove();
        var addBtn = '<div class="col-lg-12 floatleft padding10 text-right">' +
                     '<button type="button" id="btnModalAddBank" class="btn-action btn-add" onclick="AddBankToGrid()">+ Add Bank to List</button>' +
                     '</div>';
        $("#modalInputs").append(addBtn);
        }

        function ShowAdd()
        {
                $("#modalHeading").text("Add Address Details");


        var addressContent = $('#MAinAddDive').html();
        $("#modalInputs").html(addressContent);
        $("#editModal").show();
        $("#btnSaveUpdate").hide();
        $("#btnModalAddAddr").remove();

        var addBtn = '<div class="col-lg-12 floatleft padding10 text-right">' +
                     '<button type="button" id="btnModalAddAddr" class="btn-action btn-add" onclick="AddAddressToGrid()">+ Add Address to List</button>' +
                     '</div>';
        $("#modalInputs").append(addBtn);

        $('#MAinAddDive').hide();
        }
        function PopulateEditForm(d) {
            console.log(JSON.stringify(d));
            if (!d) return;

            $('#CompanyID').val(d.companyID);
            $('input[name="ClientName"]').val(d.clientDetails.clientName);
            $('input[name="PANNo"]').val(d.clientDetails.panNo);
            $('input[name="TINNO"]').val(d.clientDetails.tinno);
            $('input[name="VATNO"]').val(d.clientDetails.vatno);
            $('input[name="CSTNO"]').val(d.clientDetails.cstno);
            $('input[name="STNO"]').val(d.clientDetails.stno);
            $('input[name="ECCNO"]').val(d.clientDetails.eccno);
            $('input[name="GSTNo"]').val(d.clientDetails.gstNo);

            if (d.clientDetails.clientType) {
                $(`input[name="ClientType"][value="${d.clientDetails.clientType}"]`).prop('checked', true);
            }

            $('input[name="TransporterName"]').val(d.logistics.transporterName);
            $('input[name="BookingType"]').val(d.logistics.bookingType);
            $('input[name="ClientTypePermanent"]').val(d.logistics.originalInvoiceCopy);
            $('input[name="FreightType"]').val(d.logistics.freightType);
            $('input[name="BookedTo"]').val(d.logistics.bookedTo);
            $('input[name="PaymentTerms"]').val(d.logistics.paymentTerms);
            $('input[name="CreditPeriod"]').val(d.logistics.creditPeriod);

            $('#IndicateViaMail').prop('checked', d.logistics.indicateViaMail);

            if (d.logistics.exportType) {
                $(`input[name="ExportType"][value="${d.logistics.exportType}"]`).prop('checked', true);
            }

            if (d.logistics.originalInvoiceCopy) {
                $(`input[name="OriginalInvoiceCopy"][value="${d.logistics.originalInvoiceCopy}"]`).prop('checked', true);
            }

            $("#Owner").val(d.logistics.ownerID);
            $('input[name="Email"]').val(d.contactDetails.email);
            $('input[name="AlternateEmail"]').val(d.contactDetails.alternateEmail);
            $('input[name="ContactPersonName"]').val(d.contactDetails.contactPersonName);
            $('input[name="OffMobileNO"]').val(d.contactDetails.offMobileNO);
            $('input[name="WhatsappNo"]').val(d.contactDetails.whatsappNo);
            $('input[name="Website"]').val(d.contactDetails.website);
            $('input[name="Tel1"]').val(d.contactDetails.telephone);
            $('#MobileContainer').find('.mobile-row:not(:first)').remove();

            if (d.contactDetails.mobileNumbers && d.contactDetails.mobileNumbers.length > 0) {
                d.contactDetails.mobileNumbers.forEach((num, index) => {
                    if (index === 0) {
                        $('input[name="MobileNo"]').first().val(num);
                    } else {

                        AddMobileRow();
                        $('input[name="MobileNo"]').last().val(num);
                    }
                });
            }

            bindAddressData("Address", d.companyAddress);
            bindAddressData("Delivery", d.deliveryAddress);
        }



        function InitializeStates() {
            const dropdowns = ["Address_Country", "Delivery_Country"];
            dropdowns.forEach(id => {
                let dropdown = document.getElementById(id);
                countryList.forEach(state => {
                    let option = new Option(state.Name, state.ID);
                    dropdown.add(option);
                });
            });

            const dropdowns_Owner = ["Owner"];

            dropdowns_Owner.forEach(id => {
                let dropdown_Owner = document.getElementById(id);
                ownerlist.forEach(owner => {
                    let option = new Option(owner.Name, owner.ID);
                    dropdown_Owner.add(option);
                });
            });

        }


        function OnCountryChange(countryid, prefix) {

            var cityDropdown = document.getElementById(prefix + "_State");
            cityDropdown.innerHTML = '<option value="">-- Select _State --</option>';

            if (!countryid) return;

            $.ajax({
               url: '@Url.Action("GetState", "Users_Master")',
                type: "GET",
                data: {
                    countryid: countryid
                },
                success: function(cityList) {
                    cityList.forEach(function(city) {
                        cityDropdown.add(new Option(city.name, city.id));
                    });
                }
            });
        }

        function SaveClient() {

            if (!ValidateClientForm()) {
                return;
            }

            var finalData = {

                ClientID: parseInt($('#ClientID').val()) || 0,
                ClientDetails: getClientDetails(),
                ContactDetails: getContactDetails(),
                Logistics: getLogisticsDetails(),
                CompanyAddress: getAddressData("Address"),
                DeliveryAddress: getAddressData("Delivery")
            };

            console.log("Data to Save:", finalData);

            var jsonString = JSON.stringify(finalData);
            $.ajax({
                url: '@Url.Action("SaveClient", "Users_Master")',
                type: 'POST',

                data: {
                    jsonData: jsonString
                },
                success: function(response) {
                    if (response.success) {
                        Swal.fire('Success', 'Information saved successfully!', 'success')
                            .then(() => {
                                window.location.href = '@Url.Action("AllClientMasterList", "Users_Master")';
                            });
                    } else {
                        Swal.fire('Error', response.message, 'error');
                    }
                },
                error: function() {
                    Swal.fire('Error', 'An error occurred while saving.', 'error');
                }
            });
        }

        function ValidateClientForm() {
            var errors = [];
            var client = getClientDetails();
            if (!client.ClientName) errors.push("Client Name is required.");
            if (!client.GSTNo) errors.push("GST No. is required.");


            var taxFields = {
                "TIN NO": client.TINNO,
                "VAT NO": client.VATNO,
                "CST NO": client.CSTNO,
                "ST NO": client.STNO,
                "ECC NO": client.ECCNO
            };
            for (var key in taxFields) {
                if (taxFields[key] && parseFloat(taxFields[key]) < 0) {
                    errors.push(key + " cannot be a negative value.");
                }
            }

            var panPattern = /^[A-Z]{5}[0-9]{4}[A-Z]{1}$/;
            if (client.PANNo && !panPattern.test(client.PANNo.toUpperCase())) {
                errors.push("Invalid PAN Number format.");
            }

            var mobileFields = [{
                    id: "#OffMobileNo",
                    name: "Off. Mobile No."
                },
                {
                    id: "#WhatsAppNo",
                    name: "WhatsApp No."
                },
                {
                    id: "#MobileNo",
                    name: "Mobile Number"
                }
            ];

            mobileFields.forEach(function(field) {
                var val = $(field.id).val();
                if (val && val.length !== 10) {
                    errors.push(field.name + " must be exactly 10 digits.");
                }
            });

            var prefixes = ["Address", "Delivery"];
            prefixes.forEach(function(p) {
                var addr = getAddressData(p);
                var label = (p === "Address") ? "Company Address" : "Delivery Address";

                if (!addr.AddressLine1) errors.push(label + ": Address Line 1 is required.");
                if (!addr.Pincode) errors.push(label + ": Pincode is required.");
                else if (addr.Pincode.length !== 6) errors.push(label + ": Pincode must be 6 digits.");

                if (!addr.CountryID) errors.push(label + ": Country is required.");
                if (!addr.StateID) errors.push(label + ": State is required.");
                if (!addr.CityID) errors.push(label + ": City is required.");
            });


            var log = getLogisticsDetails();
            if (!log.TransporterName) errors.push("Transport Name is required.");
            if (!log.BookingType) errors.push("Booking Type is required.");
            if (!log.FreightType) errors.push("Freight Type is required.");
            if (!log.BookedTo) errors.push("Booked To is required.");
            if (!log.PaymentTerms) errors.push("Payment Terms are required.");

            if (!log.CreditPeriod) {
                errors.push("Credit Period is required.");
            } else if (parseFloat(log.CreditPeriod) < 0) {
                errors.push("Credit Period cannot be negative.");
            }

            if (!log.OwnerID) errors.push("Please select an Owner.");

            if (!log.ExportType) {
                errors.push("Please select an Export Type (Local or Export).");
            }

            if (!log.IndicateViaMail) {
                errors.push("Please check 'Indicate Via Mail'.");
            }

            if (!log.OriginalInvoiceCopy) {
                errors.push("Please select where the Original Invoice Copy should go (Head Office or Client).");
            }

            if (errors.length > 0) {
                Swal.fire({
                    title: 'Validation Failed',
                    html: '<div style="text-align:left"><ul><li>' + errors.join('</li><li>') + '</li></ul></div>',
                    icon: 'warning'
                });
                return false;
            }

            return true;
        }




        function getClientDetails() {
            return {
                ClientName: $('#ClientName').val().trim(),
                ClientType: $('input[name="ClientType"]:checked').val(),
                PANNo: $('#PANNo').val(),
                TINNO: $('#TINNO').val(),
                VATNO: $('#VATNO').val(),
                CSTNO: $('#CSTNO').val(),
                STNO: $('#STNO').val(),
                ECCNO: $('#ECCNO').val(),
                GSTNo: $('#GSTNo').val()
            };
        }


        function getLogisticsDetails() {
            return {
                TransporterName: $('#TransporterName').val(),
                BookingType: $('#BookingType').val(),
                FreightType: $('#FreightType').val(),
                BookedTo: $('#BookedTo').val(),
                PaymentTerms: $('#PaymentTerms').val(),
                CreditPeriod: $('#CreditPeriod').val(),
                ExportType: $('input[name="ExportType"]:checked').val(),
                IndicateViaMail: $('#IndicateViaMail').is(':checked'),
                OriginalInvoiceCopy: $('input[name="OriginalInvoiceCopy"]:checked').val(),
                OwnerID: $('#Owner').val()
            };
        }

        function getAddressData(prefix) {
            return {
                AddressLine1: $('#' + prefix + '_AddressLine1').val(),
                AddressLine2: $('#' + prefix + '_AddressLine2').val(),
                Pincode: $('#' + prefix + '_Pincode').val(),
                CountryID: $('#' + prefix + '_Country').val(),
                Landmark: $('#' + prefix + '_Landmark').val(),
                StateID: $('#' + prefix + '_State').val(),
                CityID: $('#' + prefix + '_City').val()
            };
        }

        function getContactDetails() {

            var mobileList = [];
            $('input[name="MobileNo"]').each(function() {
                var val = $(this).val().trim();
                if (val !== "") {
                    mobileList.push(val);
                }
            });

            return {
                Email: $('input[name="Email"]').val(),
                AlternateEmail: $('input[name="AlternateEmail"]').val(),
                ContactPersonName: $('input[name="ContactPersonName"]').val(),
                OffMobileNO: $('input[name="OffMobileNO"]').val(),
                WhatsappNo: $('input[name="WhatsappNo"]').val(),
                Website: $('input[name="Website"]').val(),
                Telephone: $('input[name="Tel1"]').val(),
                MobileNumbers: mobileList
            };
        }


        function bindAddressData(prefix, data) {
            if (!data) return;
            $(`#${prefix}_AddressLine1`).val(data.addressLine1);
            $(`#${prefix}_AddressLine2`).val(data.addressLine2);
            $(`#${prefix}_Pincode`).val(data.pincode);
            $(`#${prefix}_Landmark`).val(data.landmark);
            $(`#${prefix}_Country`).val(data.countryID).trigger('change');
            setTimeout(function() {
                $(`#${prefix}_State`).val(data.stateID).trigger('change');
                setTimeout(function() {
                    $(`#${prefix}_City`).val(data.cityID);
                }, 800);
            }, 800);
        }
    </script>
</body>


